@{
    ViewBag.Title = "The Social Network";
}

<div class="jumbotron">
    <h1>PetNet</h1>
    <p class="lead">Bem vindo a rede social para você e seu pet.</p>
    <img src="http://www.bichosbrasil.com.br/wp-content/files/cachorro-esperto.jpg" class="img-thumbnail"  width="304" height="236">
</div>